[Unit]
Description=AMR IDM to MQTT
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/amrscm2mqtt/amrscm2mqtt
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=amrscm2mqtt

[Install]
WantedBy=multi-user.target
